{% extends 'base.html' %}

{% block content %}
<h1>承認待ちユーザー</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
        <form method="POST" action="{% url 'accounts:admin_approval' user.pk %}">
          {% csrf_token %}
            <button type="submit" class="approve-link" onclick="return confirm('本当に承認しますか？')">
                承認する
            </button>
        </form>

        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
